[submodule "dependencies/Coroutine"]
	path = dependencies/Coroutine
	url = https://github.com/SanjoSolutions/LuaCoroutine.git
[submodule "dependencies/Events"]
	path = dependencies/Events
	url = https://github.com/SanjoSolutions/LuaEvents.git
[submodule "dependencies/Function"]
	path = dependencies/Function
	url = https://github.com/SanjoSolutions/LuaFunction.git
[submodule "dependencies/Array"]
	path = dependencies/Array
	url = https://github.com/SanjoSolutions/LuaArray.git
[submodule "dependencies/Object"]
	path = dependencies/Object
	url = https://github.com/SanjoSolutions/LuaObject.git
[submodule "dependencies/Set"]
	path = dependencies/Set
	url = https://github.com/SanjoSolutions/LuaSet.git
[submodule "dependencies/Boolean"]
	path = dependencies/Boolean
	url = https://github.com/SanjoSolutions/LuaBoolean.git
[submodule "dependencies/PackageInitialization"]
	path = dependencies/PackageInitialization
	url = https://github.com/SanjoSolutions/LuaPackageInitialization.git
[submodule "dependencies/Float"]
	path = dependencies/Float
	url = https://github.com/SanjoSolutions/LuaFloat.git
[submodule "dependencies/Math"]
	path = dependencies/Math
	url = https://github.com/SanjoSolutions/LuaMath.git
